<div class="form-group">
  <label>Name of task</label>
  <input class="form-control" name="nameOfTask" required/>
</div>
<div class="form-group">
  <label>Start of Task</label>
  <input class="form-control" type="date" name="startOfTask" required />
</div>
<div class="form-group">
  <label>End of Task</label>
  <input class="form-control" type="date" name="endOfTask" required />
</div>
<div class="form-group" *ngFor="let contributor of contributors">
  <label>{{contributor}}</label>
  <input type="checkbox">
</div>
<div class="form-group">
  <button>add new task</button>
</div>
